#head{
	text-align: center;
    height: 15%;
    margin: 0%;
    padding: 0%;
    
    
}
#navigation {
    text-align: center;   
    margin: 0%;
    padding: 0%;
 
}
#headlogo{
    height: 90%;
    border-radius: 0 0 50px 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
#logodiv{

    float: left;
    z-index: 1;
    position: relative;
}
#logodiv2{
    margin-right: : 8%;
    float:right;
    z-index: 1;
    position: relative;
}