#head{
	text-align: center;
    height: 15%;
    margin: 0%;
    padding: 0%;
    
    
}
#navigation {
    text-align: center;   
    margin: 0%;
    padding: 0%;
 
}
#headlogo{
    height: 90%;
    border-radius: 0 0 50px 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
#logodiv{

    float: left;
    z-index: 1;
    position: relative;
}
#logodiv2{
    margin-right: : 8%;
    float:right;
    z-index: 1;
    position: relative;
}





p , h1 {
    text-align: center;
}



.container{
    margin: 0px auto;
    width: 1200px;
}
.column1,  .column2,  .column3{
    width: 360px;
    
}

.column1,  .column2{
    float: left;
    margin-right: 60px;
}

.column3{
    float: left;
}
#gallery{
    overflow: hidden;
    margin: 0em auto 0em auto;
    padding: 1em 0em 1em 0em;
    text-align:center;
    
}