body {
	font-family: 'Arial', 'Times New Roman';
	background:radial-gradient(circle, #4682b4, #00bfff, aqua);
	background-attachment: fixed;
}

/* head */

#header {

	background-image: url("../images/Header.jpg");
	background-repeat: no-repeat;
	background-size: 100% 240px;
	height: 240px;
	padding-right: 1%;

}
#head {
	background-image: url("../images/Header.jpg");
	background-repeat: no-repeat;
	background-size: 100% 240px;
	height: 240px;
	padding-right: 1%;
	font-family:"Kristen ITC";
  text-shadow: -2px -1px black, -1px 1px black, 2px -1px black, -2px -2px black;
	color:white;
	font-size:75px;

}
#headlogo1 {
	float: right;
}
#headtxt{
	text-align: center;

}

#header_logo {

	padding-left:2%;
	padding-top:2.5%;
	padding-bottom: 2%;

}

#header_title {

	margin-left:220px;
	margin-top:-180px;

}

/* title */

.title {

	font-family:"Kristen ITC";
  text-shadow: -2px -1px black, -1px 1px black, 2px -1px black, -2px -2px black;
	color:white;
	font-size:75px;

}
.subtitle {

	font-family:"Mistral";
  text-shadow: -1px -1px black, -1px 1px black, 2px -1px black, -1px -1px black;
	color:white;
	font-size:45px;
	margin-left:40px;
	margin-top:-30px;

}

/* containter */

.container {
    width:1350px;
	margin:auto;
    padding: 20px 50px;
}
.containerPAO {
	width:1350px;
	margin:auto;
    padding: 20px 50px;
}
.containerO {
	background-color: green;
}

/* content */

#r-contentT {
	margin-top: -14%;

}

.Top h4 {
	margin-bottom: 10%;
	margin-top: 2%;
}

#Top-Content1 {

	margin-top: 14%;
	position: relative;
	margin-right: 40%;
}

#Top-Content2 {
	position: relative;
	margin-right: 40%;
}

#Middle-Content  {

	background-color: red;	
	padding-right: 50px;
}

#Bottom {

	width: 80%;
	position: absolute;
	left: 50%;
}

#r-contentT img {
	border-radius: 50%;
    width: 450px;
    height: 450px;
    float: right;
}

#l-content img {
	border-radius: 50%;
	width: 450px;
	height: 450px;
	float:left;
}

#r-contentB img {
	border-radius: 50%;
    width: 450px;
    height: 450px;
    float: right;
}

/* menu */

#menu {
    width: 1024px;
}
#menu li{
	list-style-type: none;
	display: inline-block;
}

#menu li a{
	font-size:20px;
    display:inline-block;
    color:white;
    text-align:center;
    padding-left:17px;
	padding-right:17px;
	padding-top:13px;
	padding-bottom:13px;
    text-decoration:none;

}
#menu li a:hover{
    background-color: white;
	border-radius:5px;
	transition: 1s;
}

/* gallery */

.gallery1-column1 img {

	width: 380px;
	border-radius: 50%;
}

.gallery1-column1 h4{
	text-align: center;
	font-size: 20px;
}

.gallery1-column2 img {

	width: 380px;
	border-radius: 50%;
}

.gallery1-column2 h4{
	text-align: center;
	font-size: 20px;
}

.gallery1-column3 img {

	width: 380px;
	border-radius: 50%;
}
.gallery1-column3 h4{
	text-align: center;
	font-size: 20px;
}
.gallery1-column1 {
	float:left;
	margin-right: 20px;
}
.gallery1-column2 {
	float:left;
	margin-right: 20px;
}
.gallery1-column3 {
	float:left;
	margin-right: 20px;
}

/* logo */

#logodiv img{
	width: 80px;
}
#logodiv2 img{
	width: 100px;
}

/* footer */

footer {
	width: 90%;
	padding: 0 5% 0 5%;
	margin-top: 2.5%;
	float: left;
	display: inline;
	color:white;
	background-color:black; 
	text-align: center;
}



